/* Start Fonts */
@font-face {
    font-family: Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
/* End Fonts */

/* Start Variables */
:root{
    --regular-font: Regular;
    --bold-font: Bold;
    --main-color: #19c8fa;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */