/* Start Fonts */
@font-face {
    font-family: Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

/* End Fonts */

/* Start Variables */
:root {
    --regular-font: Regular;
    --bold-font: Bold;
    --main-color: #19c8fa;
    --second-color: #fff;
}

/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    background-color: black;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle-menue {
    color: var(--second-color);
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    header nav .toggle-menue {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width:767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menue:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}



header nav ul li a {
    display: block;
    padding: 40px 10px;
    color: var(--second-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--regular-font);
    font-size: 0.9rem;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid var(--second-color);
}

header nav .form i {
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 1rem;
}

/* End Header */